@model IEnumerable<Proyecto_Restaurant.Models.CarritoModel>

@{
    ViewBag.Title = "Lista de Pedidos";
}

<h2>Lista de Pedidos</h2>



@using (Html.BeginForm("ListadoPedidos", "Carrito",FormMethod.Post))
{
    <div class="form-group">
        <label for="estado">Estado</label>
        @Html.DropDownList("estado", new SelectList(new List<SelectListItem> {
            new SelectListItem{Selected=true,Text="[Seleccionar...]",Value="-1"},
            new SelectListItem{Selected=false,Text="En Curso",Value="1"},
            new SelectListItem{Selected=false,Text="Pendiente de cobro",Value="2"},
            new SelectListItem{Selected=false,Text="Cancelado",Value="3"},
            new SelectListItem{Selected=false,Text="Anulado",Value="4"}

        }, "Value", "Text"),new { @class="form-control"})
    </div>    
    <input type="submit" class="btn btn-primary" value="Consulta" />
}




<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.id_boleta)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nom_usuario)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.descr_mesa)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.monto_total)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fecha_compra)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.id_boleta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nom_usuario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.descr_mesa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.monto_total)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fecha_compra)
            </td>
            <td>
                @if (ViewBag.estado == 2)
                {
                    @Html.ActionLink("FIN", "BuscarBoleta", new { codboleta = item.id_boleta },new { @class="btn btn-primary"})
                }
            </td>
        </tr>
    }

</table>
