@model IEnumerable<Proyecto_Restaurant.Models.RolModel>

@{
    ViewBag.Title = "Listado de Roles";
}

<h2 class="text-center"><u>Listado de Roles</u></h2>

<p>
    @Html.ActionLink("Nuevo Rol", "Create",null,new { @class="btn btn-primary"})
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.idRol)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nomRol)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.idRol)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nomRol)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.idRol})
            @*@Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })*@
        </td>
    </tr>
}

</table>
