@model Proyecto_Restaurant.Models.UsuarioModel

@{
    ViewBag.Title = "Create";
}
@if (ViewBag.mensaje != null)
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>Exito</strong> @ViewBag.mensaje
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}
<h2 class="text-center">NUEVO USUARIO</h2>
<hr />

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-row">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group col-md-6">
            @Html.LabelFor(model => model.nom_usuario, htmlAttributes: new { @class = "control-label" })
            @Html.EditorFor(model => model.nom_usuario, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.nom_usuario, "", new { @class = "text-danger" })

        </div>
        <div class="form-group col-md-6">
            @Html.LabelFor(model => model.ape_usuario, htmlAttributes: new { @class = "control-label" })
            @Html.EditorFor(model => model.ape_usuario, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.ape_usuario, "", new { @class = "text-danger" })
        </div>
        <div class="form-group col-md-7">
            @Html.LabelFor(model => model.email, htmlAttributes: new { @class = "control-label" })
            @Html.EditorFor(model => model.email, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.email, "", new { @class = "text-danger" })
        </div>
        <div class="form-group col-md-5">
            @Html.LabelFor(model => model.fono_user, htmlAttributes: new { @class = "control-label" })
            @Html.EditorFor(model => model.fono_user, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.fono_user, "", new { @class = "text-danger" })
        </div>
        <div class="form-group col-md-4">
            @Html.LabelFor(model => model.id_rol, htmlAttributes: new { @class = "control-label" })
            @Html.DropDownListFor(model => model.id_rol, (SelectList)ViewBag.roles, "Seleccione...", new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.id_rol, "", new { @class = "text-danger" })
        </div>
        <div class="form-group col-md-4">
            @Html.LabelFor(model => model.id_distrito, htmlAttributes: new { @class = "control-label" })
            @Html.DropDownListFor(model => model.id_distrito, (SelectList)ViewBag.distritos, "Seleccione...", new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.id_distrito, "", new { @class = "text-danger" })
        </div>
        <div class="form-group col-md-4">
            @Html.LabelFor(model => model.estado, htmlAttributes: new { @class = "control-label" })
            @Html.EditorFor(model => model.estado, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.estado, "", new { @class = "text-danger" })
        </div>
        <div class="form-group col-md-12">
            <input type="submit" value="Grabar" class="btn btn-primary" />
            @Html.ActionLink("Nuevo", "Create", null, new { @class = "btn btn-primary" })
        </div>
    </div>
}
<div>
    @Html.ActionLink("Regresar", "ListadoUsuarios", null, new { @class = "btn btn-primary" })
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}